@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

body
{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.profile-area
{
    max-width: 350px;
    width: 100%;
    padding: 10px 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #333;
    position: relative;
}

.profile-area .imgBx
{
    max-width: 300px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    /* border: 1px solid #fff; */
}

.profile-area .imgBx img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-area .about
{
    margin-top: 20px;
    padding: 5px 0px;
    color: #fff;
}

.profile-area .about .fullname
{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 30px;
}

.profile-area .about .username
{
    font-size: 1rem;
    color: #888;
    font-weight: 400;
    line-height: 20px;
}

.profile-area .about button
{
    display: block;
    max-width: 250px;
    width: 100%;
    outline: none;
    border: none;
    font-size: .9rem;
    margin-top: 5px;
    padding: 8px 5px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: .3s;
    color: #000;
    background: #bfbfbf;
    font-weight: 500;
}

.profile-area .about button:hover
{
    background: #fff;
}

#change-profile
{
    margin-top: 10px;
}

#logout
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    font-weight: 400;
    color: #fff;
    background: #ff4500;
}

#logout i
{
    font-size: 1.4rem;
    font-weight: 300;
}

#logout:hover
{
    background: #fff;
    color: #ff4500;
}

.items
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
}

.items .item
{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;
    padding: 4px;
}


.items .item i
{
    font-size: .8rem;
    transition: .7s;
    margin-right: 5px;
}

.items .item:hover i
{
    margin-right: 8px;
}

.change-profile-area, .change-password-area
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.95);
    display: none;
}

.change-password-area
{
    flex-direction: column;
    padding: 0px 10px;
}

.change-password-area h3
{
    color: #fff;
    margin-bottom: 10px;
    font-weight: 400;
}

.change-password-area input
{
    display: block;
    width: 100%;
    font-size: .9rem;
    padding: 5px 2px;
    margin-bottom: 4px;
    outline: none;
    border: none;
}

.change-password-area input[type="submit"]
{
    background: #ff4500;
    cursor: pointer;
    color: #fff;
    border: 1px solid #ff4500;
    transition: .3s;
}

.change-password-area input[type="submit"]:hover
{
    background: #fc6028;
}


.change-profile-area.active, .change-password-area.active
{
    display: flex;
}

.change-profile-area input
{
    border: 1px solid #fff;
    padding: 12px 5px;
    background: #fff;
    color: #000;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 3px;
}

#save-profile
{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

#close-profile, #close-password
{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.content
{
    width: 100%;
    max-height: 100vh;
    padding: 20px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #777;
}

.content::-webkit-scrollbar
{
    height: 0px;
    width: 0px;
}

.content .main
{
    position: relative;
    width: 100%;
    padding: 8px;
    border-radius: 12px;
}

.liked-area, .saved-area, .download-area
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 0px 10px;
}

.liked-area.active,
.saved-area.active,
.download-area.active
{
    transition: .3s ease-in-out;
    display: block;
}

#download-movies.active,
#liked-movies.active,
#saved-movies.active
{
    border: 1px solid #222;
    background: #222;
    border-radius: 5px;
}

#download-movies.active:hover i,
#liked-movies.active:hover i,
#saved-movies.active:hover i
{
    margin-right: 5px;
}

.content .main .title
{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.content .main .title i
{
    margin-left: 4px;
    margin-bottom: 3px;
}

.content .main .movies
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content .main .movies .movie
{
    max-width: 295px;
    width: 100%;
    border-radius: 5px;
    margin-right: 8px;
    margin-top: 8px;
    cursor: pointer;
    height: 200px;
}

.content .main .movies .movie img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}